<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services - DoJ</title>
    <link rel="stylesheet" href="..//styles/servicesStyle.css">
</head>
<body>

<div class="container">
    <h1>Our Services</h1>
    <div class="services-grid">
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>DoJ Divisions</h2>
            <p>Learn about the various divisions of DoJ.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>Judges Information</h2>
            <p>Number of Judges at various courts and current vacancies.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>Case Pendency</h2>
            <p>Check case pendency through National Judicial Data Grid (NJDG).</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>Traffic Fine Payment</h2>
            <p>Procedure to pay fines for traffic violations.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>Live Streaming</h2>
            <p>Watch live streaming of court cases.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>eFiling & ePay</h2>
            <p>Steps for eFiling and ePay services.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>Fast Track Courts</h2>
            <p>Information on working Fast Track courts.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>eCourts Mobile App</h2>
            <p>Ways to download the eCourts Services Mobile app.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg">
            <h2>Tele Law Services</h2>
            <p>Avail Tele Law services for legal advice.</p>
        </div>
        <div class="service-card">
            <img src="../team-member.jpg"">
            <h2>Case Status</h2>
            <p>Check the current status of cases.</p>
        </div>
    </div>
</div>

</body>
</html>
