<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development Team</title>
    <link rel="stylesheet" href="../styles/teamStyle.css">

</head>

<body>

    <div class="container">
        <h1>Meet Our Development Team</h1>
        <div class="team-grid">
            <div class="member-card">
                <div class="member-photo"></div>
                <h2>Snehal Raj</h2>
                <p>Frontend Developer</p>
            </div>
            <div class="member-card">
                <div class="member-photo"></div>
                <h2>Yash Nayak</h2>
                <p>Frontend Developer</p>
            </div>
            <div class="member-card">
                <div class="member-photo"></div>
                <h2>Satyam Shukla</h2>
                <p>Backend Developer</p>
            </div>
            <div class="member-card">
                <div class="member-photo"></div>
                <h2>Puneet Sharma</h2>
                <p>Backend Developer</p>
            </div>
            <div class="member-card">
                <div class="member-photo"></div>
                <h2>Jagriti Lakhmani</h2>
                <p>UI/UX Designer</p>
            </div>
            <div class="member-card">
                <div class="member-photo"></div>
                <h2>Rakshit Garg</h2>
                <p>UI/UX Designer</p>
            </div>
        </div>
    </div>

</body>

</html>