<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot for DoJ India</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../scripts/script.js" defer></script>
</head>

<body>
    <header>
        <h1>Welcome to the DoJ India AI Chatbot</h1>
        <p>Your assistant for legal inquiries and support.</p>
    </header>

    <main>
        <nav class="navbar">
            <div class="logo">
                <h1><a href="#">EquiAI</a></h1>
            </div>
            <ul class="nav-links">
                <li><a href="https://doj.gov.in/">Home</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/services.html">Services</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    
        <section id="chat-container">
            <iframe id="chatbox" width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/564c53e1-851c-424b-857a-798ff66590b5"></iframe>
                <button onclick="clearChat()">Clear Chat</button>
        </section>
    </main>

    <footer>
        <p>&copy; Made by JarOfSand. All rights reserved.</p>
    </footer>
</body>

</html>